

# compiled output
/angular/dist
/angular/tmp

# dependencies
/angular/node_modules
/angular/bower_components

# IDEs and editors
/angular/.idea

# misc
/angular/.sass-cache
/angular/connect.lock
/angular/coverage/*
/angular/libpeerconnection.log
/angularnpm-debug.log
/angulartestem.log
/angular/typings

# e2e
/angular/e2e/*.js
/angular/e2e/*.map

/angular/server.sh

/TiburonSpring/src/main/resources/**
