
<!-- SI NO ESTA LOGUEADO -->
<div class="row" *ngIf="!uService.logueado">
  <div class="novedades">
    <div class="col-md-3 busqueda">
      <filtros-busqueda></filtros-busqueda>
    </div>
    <div class="col-sm-12 col-md-9">
      <product-list-img [titulo]="'Nuevos productos'" [products]="newProducts"></product-list-img>
    </div>
  </div>
</div>

<!-- SI ESTA LOGUEADO -->
<div class="row" *ngIf="uService.logueado">
  <div class="col-sm-4 col-md-3 user">
    <user [follow]="follow" [uso]="uso" *ngIf="follow"></user>
  </div>
  <!--ANUNCIOS -->
  <div class="col-sm-8 col-md-9" *ngIf="follow">
    <h2 *ngIf="!follow.follows">No se muestran productos porque no sigues a nadie</h2>
    <product-list-img *ngIf="follow.follows" [titulo]="'Novedades de tus contactos (saldran correctamente con pService)'" [products]="followProducts"></product-list-img>
  </div>
</div>
