<div class="row" *ngIf="service.logueado == false">
        <div class="novedades">
            <div class="col-sm-12 col-md-12 cuadro">
                <h2 class="text-center">Nuevos productos</h2>
                <div class="row no-gutter">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/IMG_20130319_170123_HDR.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Camaro
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Mustang
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Ferrari
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Audi
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/fk_daylight_scheinwerfer_renault_laguna_fkfsrn010023.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        BMW
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        OTRO
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="pull-right ver-mas"><h5><a href="busqueda.html">Ver mas...</a></h5></div>
            </div>
        </div>
        <div class="usuarios_top">
            <div class="col-sm-12 col-md-12 cuadro">
                <h2 class="text-center">Usuarios mejor valorados</h2>
                <div class="row no-gutter">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/IMG_20130319_170123_HDR.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Camaro
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Mustang
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Ferrari
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Audi
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/fk_daylight_scheinwerfer_renault_laguna_fkfsrn010023.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        BMW
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        OTRO
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pull-right ver-mas"><h5><a href="busqueda.html">Ver mas...</a></h5></div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="service.logueado">

        <div class="col-sm-4 col-md-3 user">
                <div class="thumbnail">
                    <img src="img/perfil.jpg" alt="perfil">
                    <div class="caption text-center">
                        <h3>NickName</h3>
                        <h4>
                            <div class="row">
                               <a href="#">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                       <p>Siguiendo</p>
                                        <p>67</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                       <p>Seguidores</p>
                                        <p>50</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="col-md-12 col-sm-12 col-xs-12 cuadro cuadro-ancho">
                                        <span class="glyphicon glyphicon-star-empty"></span> Favoritos
                                    </div>
                                </a>

                            </div>
                        </h4>



                    </div>
                </div>
            </div>

            <!--ANUNCIOS -->
            <div class="col-sm-8 col-md-9 cuadro">
                <h2 class="text-center">Novedades de tus contactos</h2>
                <div class="row no-gutter">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/IMG_20130319_170123_HDR.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Camaro
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Mustang
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Ferrari
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Audi
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/fk_daylight_scheinwerfer_renault_laguna_fkfsrn010023.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        BMW
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        OTRO
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <div class="col-sm-8 col-md-9 pull-right cuadro">
                <h2 class="text-center">Anuncios Favoritos</h2>
                <div class="row no-gutter">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/IMG_20130319_170123_HDR.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Camaro
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Mustang
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/coches/body%20shop%20and%20body%20work.jpg" class="img-responsive portcentro">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Ferrari
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Audi
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/fk_daylight_scheinwerfer_renault_laguna_fkfsrn010023.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        BMW
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 port">
                        <a href="vista_articulo.html" class="portfolio-box portcentro">
                            <img src="imagenes/piezas/llantas-oz-15-4x108_1.jpg" class="img-responsive">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        OTRO
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>



    </div>
