<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="list-group list-mens" id="lista-conv">
               <div class="list-group-item list-head" (click)="isCollapsed=!isCollapsed"  id="toggle-contactos">
                   <h4>Contactos</h4>
               </div>
               <div id="toggle-lista-contactos" *ngFor="#contact of contactList" [collapse]="isCollapsed">
                    <button (click)="selectChat(contact.id)" class="list-group-item"  id="user-id">
                        <span class="badge" id="unread">3</span>
                        <h4 class="list-group-item-heading" id="user-name">{{contact.nick}}</h4>

                    </button>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="grid">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chat" id="div-chat">
                    <div class="list-group" *ngFor="#men of chatList">
                       <!-- MENSAJES -->
                        <div class="list-group-item" [class]="men.rem">
                            <h4 class="list-group-item-heading">
                                {{men.nick}}
                            </h4>
                            <p class="list-group-item-text">
                              {{men.mensaje}}
                            </p>
                            <span class="badge">{{men.date | date:'yy/M/d Hm'}}</span>
                        </div>


                        <!-- FIN MENSAJES -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 escritura">
                    <form>
                        <div class="row">
                              <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                               <input #borrador type="text" class="form-control" id="mensaje" placeholder="Escribe tu mensaje...">
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button (click)="enviar(borrador.value);borrador.value=''" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
