<div class="text-center"><h2>Producto {{product.id}} - {{product.name}}</h2></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-7">
      <div class="radio">
          <label class="radio-inline"><input type="radio" name="optradio1">Vehiculo</label>
          <label class="radio-inline"><input type="radio" name="optradio2">Recambio</label>
      </div>
			<form role="form">
				<div class="form-group">
					<label for="Nombre">Nombre:</label>
					<input [(ngModel)]="product.name" class="form-control" id="Nombre" />
				</div>
				<div class="form-group">
					<label for="km">Km / nuevo</label>
					<input [(ngModel)]="product.used" class="form-control" id="km" />
				</div>
        <div class="form-group">
					<label for="Ubicacion">Ubicación</label>
					<input [(ngModel)]="product.location" class="form-control" id="Ubicacion" />
				</div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="precio">Precio</label>
      					<input [(ngModel)]="product.price" class="form-control" id="precio" />
              </div>
              <div class="col-md-6">
                <label for="year">Año</label>
                  <input [(ngModel)]="product.year" id="year" class="form-control" />
              </div>

            </div>

          </div>
          <div class="form-group">
            <label for="comment">Descripción:</label>
            <textarea [(ngModel)]="product.description" class="form-control" rows="5" id="descripcion"></textarea>

          </div>
				<div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">

          </div>
				</div>
			</form>
		</div>
		<div class="col-md-4">
			<img alt="imagen" src="http://lorempixel.com/350/200/" />
      <div class="form-group">
        <br>
        <input type="file" id="exampleInputFile" />
      </div>
      <br>
      <div>
        <button (click)="guardar()" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Guardar</button>

        <br>
        <button (click)="cancelar()" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
      </div>
		</div>
	</div>
  <br>
  <br>
</div>
