<div class="container-fluid cont">
  <h2 *ngIf="error" class="text-center center-block">Producto no encontrado</h2>
  <div class="row" *ngIf="!error">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" id="back">
          <a (click)="volver()">
            <button class="btn btn-default button-back glyphicon glyphicon-chevron-left" aria-label="Left Align">Volver
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <img [src]="product.img" class="img-responsive img-thumbnail img-rounded" alt="articulo">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">{{product.name}}</h2>

          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="seller">
                  <a [routerLink]="['Profile',{id:user.id}]">
                    <img [src]="user.img"  class="img-responsive img-circle center-block" alt="perfilVendedor"> {{user.nick}}
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="seller prize">
                  <span>{{product.price}} €</span>
                </div>
              </div>
            </div>
            <hr>

            <div class="message">
              <button (click)="mensaje()" class="btn btn-default center-block btn-message">Enviar Mensaje</button>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <div class="valoraciones">
          <h4 class="text-center">Comentarios</h4>
          <valoration *ngFor="#comment of comments" [comment]="comment">
          </valoration>
          <div class="form-group">
            <label for="valoracion">Valoracion:</label>
  					<input #valoracion class="form-control" id="valoracion" placeholder="Bueno, Malo o Regular"/>
            <label for="comment">Descripción:</label>
            <textarea #descripcion class="form-control" rows="5" id="descripcion"></textarea>
          </div>
          <button type="button" (click)="addValoration(valoracion.value,descripcion.value)">Agregar comentario</button>
        </div>
        <div>
          <h3>Descripción</h3>
          <p>{{product.description}}</p>
        </div>
        <hr>


        <button class="btn bt-default glyphicon glyphicon-chevron-down center-block btn-comment">Valorar</button>


        <div class="comment">

          <!-- Valoracion-->


          <div class="stars">

            <h3>Valoracion</h3>
            <form action="">
              <input class="star star-5" id="star-5" type="radio" name="star" />
              <label class="star star-5" for="star-5"></label>
              <input class="star star-4" id="star-4" type="radio" name="star" />
              <label class="star star-4" for="star-4"></label>
              <input class="star star-3" id="star-3" type="radio" name="star" />
              <label class="star star-3" for="star-3"></label>
              <input class="star star-2" id="star-2" type="radio" name="star" />
              <label class="star star-2" for="star-2"></label>
              <input class="star star-1" id="star-1" type="radio" name="star" />
              <label class="star star-1" for="star-1"></label>
            </form>
          </div>


          <hr>

          <form>
            <div class="form-group">

              <h4>Comentario</h4>
              <textarea name="comentario" id="" class="form-control"></textarea>
              <button type="submit" class="btn btn-default">Enviar</button>

            </div>
            <hr>
            <ul class="commentList">
              <li>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 score">
                    <a href="public_profile.html">
                      <img src="img/logo.png" class="img-responsive center-block img-circle" alt="perfilVendedor"> Francisco
                    </a>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu</p>
                  </div>
                </div>


              </li>
              <li>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 score">
                    <a href="public_profile.html">
                      <img src="img/logo.png" class="img-responsive center-block img-circle " alt="perfilVendedor"> Antonio
                    </a>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu</p>
                  </div>
                </div>
              </li>
            </ul>


          </form>
        </div>


      </div>
    </div>
    <div class="col-lg-5 col-md-5"></div>
  </div>
</div>
