<div class="row">
  <ul class="list-group">
    <h2 class="text-center center-block" *ngIf="userList.length==0">No hay resultados que mostrar</h2>
    <div class="elem-list list-group-item" *ngFor="#u of userList">

      <div class="row">
        <div class="col-sm-12 col-md-3">
          <a [routerLink]="['Profile',{id:u.id}]"><img [src]="u.img" class="img-list img-responsive center-block" alt=""></a>
        </div>
        <div class="col-sm-6 col-md-3 elem-desp">
          <a [routerLink]="['Profile',{id:u.id}]"><h3>{{u.nick}}</h3></a>

        </div>
        <div class=" elem-desp col-sm-6 col-md-2">
          <h4>Siguiendo {{u.follow}}</h4>
          <h4>Le siguen {{u.followers}}</h4>
        </div>
        <div class="text-center elem-desp col-sm-6 col-md-3">
          <h4 class="">
            <button (click)="noSeguir(u.id)" *ngIf="u.following" id="tick-verde" class="btn btn-success glyphicon glyphicon-ok"></button>
            <button (click)="seguir(u.id)" *ngIf="!u.following" id="cruz-roja" class="btn btn-primary glyphicon glyphicon-check"></button>

            <span *ngIf="u.following" id="following">Siguiendo</span>
            <span *ngIf="!u.following" id="follow">Seguir</span>
          </h4>
        </div>
        <div class="text-center col-md-1 botones-prod" *ngIf="edit">
          <button (click)="editar(p.id)" class="btn btn-default glyphicon glyphicon-edit"></button>
          <button (click)="borrar(p.id)" class="btn btn-default glyphicon glyphicon-remove"></button>
        </div>
        <div class="text-center col-md-1 botones-prod elem-desp">
          <button (click)="mensaje()" class="btn btn-default glyphicon glyphicon-envelope"></button>

        </div>
      </div>
      <h4 *ngIf="u == undefined">Actualmente no tienes productos en venta</h4>
    </div>
  </ul>
</div>
