<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle ge1t grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a [routerLink]="['Inicio']" class="navbar-brand" >
        <div id="navbar-brand">
          <img src="img/logo.png" id="logo" alt="logo">
          <span class="hidden-sm hidden-md">EL TIBURÓN</span>
        </div>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['Inicio']" aria-hidden="true">
            <p class="glyphicon glyphicon-home center-block"></p>
            <div class="text-center">Inicio</div>
          </a>
        </li>
        <li *ngIf="usr.logueado">
          <a [routerLink]="['Buscar',{palabra:'+product+++ambos++true+true'}]"  aria-hidden="true">
            <p class="glyphicon glyphicon-search center-block"></p>
            <div class="text-center">Buscar</div>
          </a>
        </li>
        <li *ngIf="usr.logueado">
          <a [routerLink]="['MisProductos']" aria-hidden="true">
            <p class="glyphicon glyphicon-user center-block"></p>
            <div class="text-center">Mis productos</div>
          </a>
        </li>
        <li  *ngIf="usr.logueado">
          <a [routerLink]="['Mensajes']" aria-hidden="true">
            <p class="glyphicon glyphicon-envelope center-block"></p>
            <div class="text-center">Mis mensajes</div>
          </a>
        </li>
        <li *ngIf="usr.logueado==false">
          <a [routerLink]="['Login']" aria-hidden="true">
            <p class="glyphicon glyphicon-plus center-block"></p>
            <div class="text-center">Registrarse</div>
          </a>
        </li>
        <li *ngIf="usr.logueado==false">
          <a [routerLink]="['Login']" id="login-nav" aria-hidden="true">
            <p class="glyphicon glyphicon-user center-block"></p>
            <div class="text-center">Iniciar sesión</div>
          </a>
        </li>
        <li *ngIf="usr.logueado">
          <a [routerLink]="['Inicio']" (click)="logout()" id="logout-nav" aria-hidden="true">
            <p class="glyphicon glyphicon-user center-block"></p>
            <div class="text-center">Cerrar sesión</div>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>



<!-- /.container-fluid -->
