<div class="thumbnail">
  <a [routerLink]="['Profile',{type:'profile',id:user.id}]">
    <img [src]="user.img" alt="perfil">
  </a>
  <div class="caption text-center">
    <h3>{{user.nick}}</h3>
    <div *ngIf="!main">
      <h4 *ngIf="user.tipo=='profesional'"><span class="perf-icon glyphicon glyphicon-briefcase"></span>Profesional</h4>
      <h4 *ngIf="user.tipo=='particular'"><span class="perf-icon glyphicon glyphicon-home"></span>Particular</h4>
      <h4><span class="perf-icon glyphicon glyphicon-earphone"></span>{{user.telefono}}</h4>
      <h4><span class="perf-icon glyphicon glyphicon-envelope"></span><a href="mailto:{{user.email}}">{{user.email}}</a></h4>
    </div>
    <hr>

    <h4>
      <div class="row">
         <a [routerLink]="['Profile',{type:'following',id:user.id}]">
              <div class="col-md-6 col-sm-6 col-xs-6">
                 <p>Siguiendo</p>
                  <p>{{nFollows}}</p>
              </div>
          </a>
          <a [routerLink]="['Profile',{type:'followers',id:user.id}]">
              <div class="col-md-6 col-sm-6 col-xs-6">
                 <p>Seguidores</p>
                  <p>{{nFollowers}}</p>
              </div>
          </a>
      </div>
  </h4>
  <h4 class="" *ngIf="showFollow && !main">
    <button (click)="noSeguir(user.id)" *ngIf="follow" id="tick-verde" class="btn btn-success glyphicon glyphicon-ok"></button>
    <button (click)="seguir(user.id)" *ngIf="!follow" id="cruz-roja" class="btn btn-primary glyphicon glyphicon-check"></button>

    <span *ngIf="follow" id="following">Siguiendo</span>
    <span *ngIf="!follow" id="follow">Seguir</span>
  </h4>
  </div>
</div>
